<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longbo.mobilesafe"
    android:versionCode="2"
    android:versionName="2.0" >
    <!-- android:versionCode 更新后，需提醒用户更新应用 -->
    <!-- versionName
    	2.1.1 最后一位，修复bug
    	倒数第二位，更新部分功能
    	第一位，项目重大更新
     -->

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <!-- android:theme="@android:style/Theme.Light.NoTitleBar" >去掉标题 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.longbo.mobilesafe.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="com.longbo.mobilesafe.activity.HomeActivity"></activity>

    <activity android:name="com.longbo.mobilesafe.activity.SettingActivity"></activity>
    
    </application>

</manifest>
